@font-face {
    font-family: "Baloo";
    src: url('fonts/Baloo/Baloo-Regular.ttf');
}
@font-face {
    font-family: "LaoUI";
    src: url('fonts/Lao-UI/LaoUI.ttf');
}
@font-face {
    font-family: "LaoUIB";
    src: url('fonts/Lao-UI/LaoUIB.ttf');
}

:root {
    --ex-font-family: "LaoUI";
    --ex-font-family-bold: "LaoUIB";
    --ex-title-font-family: "Baloo";
    --ex-color-violet-ea: rgba(108, 63, 152, 1);
    --ex-color-violet-hover-ea: rgba(108, 63, 152, .85);
    --ex-color-pink-ea: rgba(242, 113, 114, .85);
    --ex-color-black-ea: rgba(64, 64, 65, 1);
    --ex-color-grey-ea: rgba(147, 149, 151, .85);
    --ex-color-grey-hover-ea: rgba(224, 226, 228, .85);
    --ex-color-green-ea: rgba(52, 214, 182, 1);
    --ex-color-red-ea: rgba(255, 102, 86, 1);
    --ex-color-light-ea: rgba(255, 255, 255, 1);
    --ex-speed: .25s;
}







/** 
*	Général
*/
html,
body { height: 100%; }







/** About fonts  */
.ex-display-4 {
    font-family: var(--ex-title-font-family);
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
}
.ex-display-5 {
    font-family: var(--ex-title-font-family);
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
}
.text-family-title { font-family: var(--ex-title-font-family); }
.text-family { font-family: var(--ex-font-family); }
.text-family-bold { font-family: var(--ex-font-family-bold); }
/*  Fonts colors */
.text-expozart-violet { color: var(--ex-color-violet-ea); }
.text-expozart-violet-hover { color: var(--ex-color-violet-hover-ea); }
.text-expozart-pink { color: var(--ex-color-pink-ea); }
.text-expozart-black { color: var(--ex-color-black-ea); }
.text-expozart-grey { color: var(--ex-color-grey-ea); }
.text-expozart-grey-hover { color: var(--ex-color-grey-hover-ea); }
.text-expozart-green { color: var(--ex-color-green-ea); }
.text-expozart-red { color: var(--ex-color-red-ea); }







/** About links  */
a {
    color: var(--ex-color-violet-ea);
    font-weight: 600;
}
a:hover { color: var(--ex-color-violet-hover-ea); }







/** About form  */
.ex-form-control {
	font-weight: 500;
	font-size: 1.2rem;
    padding: 0.5rem 0;
    border-radius: 0;
    border-left: none;
    border-right: none;
    border-top: none;
    outline: transparent;
}
.ex-form-control-sm {
	font-weight: 450;
	font-size: .83rem;
}
.ex-form-control:focus {
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
    border-bottom-color: var(--ex-color-pink-ea);
	box-shadow: none;
}
.input-group-addon {
	padding: .3rem .8rem;
	background-color: var(--ex-color-violet-ea);
	color: var(--ex-color-light-ea);
}
.input-group-addon-select { padding: .3rem .8rem; }
.help-block {
    display: block;
    font-size: 12px;
}
.label-control { font-weight: 550; }
.has-error > .label-control { color: var(--danger)!important; }
.has-error > .form-control {
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
    border-bottom-color: var(--danger)!important;
}
.has-error > .help-block { color: var(--danger)!important; }
form > textarea.form-text-elastic,
div > textarea.form-text-elastic { min-height: 5rem; }







/** BG colors */
.bg-expozart-violet { background-color: var(--ex-color-violet-ea); }
.bg-expozart-violet-hover { background-color: var(--ex-color-violet-hover-ea); }
.bg-expozart-pink { background-color: var(--ex-color-pink-ea); }
.bg-expozart-black { background-color: var(--ex-color-black-ea); }
.bg-expozart-grey { background-color: var(--ex-color-grey-ea); }
.bg-expozart-grey-hover { background-color: var(--ex-color-grey-hover-ea); }
.bg-expozart-green { background-color: var(--ex-color-green-ea); }
.bg-expozart-red { background-color: var(--ex-color-red-ea); }
.bg-expozart-light { background-color: var(--ex-color-light-ea); }







/** Boutons */
.ex-btn-primary {
    font-family: var(--ex-font-family-bold);
	background-color: var(--ex-color-violet-ea);
    border-color: var(--ex-color-violet-ea);
    padding: .45rem 2.5rem;
    border-radius: 2rem;
    color: var(--ex-color-light-ea)!important;
}
.ex-btn-primary-outline {
    font-family: var(--ex-font-family-bold);
	background-color: transparent!important;
	border-color: var(--ex-color-violet-ea)!important;
	color: var(--ex-color-violet-ea)!important;
}
.ex-btn-primary:hover,
.ex-btn-primary-outline:hover,
.ex-btn-primary:focus,
.ex-btn-primary-outline:focus,
.ex-btn-primary:active,
.ex-btn-primary-outline:active {
	background-color: var(--ex-color-violet-hover-ea)!important;
    border-color: var(--ex-color-violet-hover-ea)!important;
    box-shadow: none!important;
    color: var(--ex-color-light-ea)!important;
}







/** Alerts  */
.ex-block-alert {
    width: 30rem;
    right: 0;
    bottom: .1rem;
    height: auto;
    z-index: 99;
}
.exheight { transition: height 3s ease }
.ex-alert {
    position: relative;
    padding: .75rem 1.25rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    z-index: 3001;
}
.ex-alert:not(:last-child) { margin-bottom: 1rem; }
.ex-alert.exshow {
    display: block;
    top: -1px;
    opacity: 1;
}
.exfade {
    top: -1rem;
    transition: top .5s ease;
}
.ex-content-alert {
    max-width: 20rem;
    overflow: hidden;
    font-size: .9rem;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    opacity: 0;
    border-radius: .25rem;
    color: var(--ex-color-light-ea);
}
.primary.ex-content-alert {
    background-color: var(--ex-color-violet-hover-ea);
    border-color: var(--ex-color-violet-ea);
}
.secondary.ex-content-alert {
    background-color: var(--ex-color-pink-ea);
    border-color: var(--ex-color-pink-ea);
}
.success.ex-content-alert {
    background-color: rgba(52, 214, 182, 1);
    border-color: rgba(26, 188, 156, 1);
}
.info.ex-content-alert {
    background-color: rgba(255, 255, 92, 1);
    border-color: rgba(255, 247, 66, 1);
    color: var(--ex-color-black-ea);
}
.warning.ex-content-alert {
    background-color: rgba(0, 61, 92, 1);
    border-color: rgba(26, 87, 118, 1);
}
.danger.ex-content-alert {
    background-color: rgba(255, 102, 86, 1);
    border-color: rgba(231, 76, 60, 1);
}
.light.ex-content-alert {
    background-color: rgba(211, 215, 216, 1);
    border-color: rgba(185, 189, 190, 1);
    color: var(--ex-color-black-ea);
}
.dark.ex-content-alert {
    background-color: rgba(58, 62, 63, 1);
    border-color: rgba(32, 36, 37, 1);
}
.alert-body {
    width: calc(100% - 1.5rem);
    padding: .25rem;
}
.ex-alert-close:not(:disabled):not(.disabled) { cursor: pointer; }
.exheight .ex-alert-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: .75rem 1.25rem;
    color: inherit;
}
button.ex-alert-close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
}
.ex-alert-close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}







/** About login / register / confirmation / reset / recovery  */
.ex-body {
    width: 100%;
    height: 100%;
    font-family: var(--ex-font-family);
}
.ex-auth-slide-box {
    width: 65%;
    background-color: var(--ex-color-violet-ea);
}
.ex-auth-form-box {
    width: 35%;
    padding: 3rem 0;
    background-color: var(--ex-color-light-ea);
}
.ex-auth-form-title-1 { margin-bottom: 2rem; }
.ex-auth-form-title-2 { margin-bottom: 1rem; }
.ex-auth-form-title-3 {
    width: 100%;
    max-width: 350px;
    margin: 0 auto 1rem;
}
.ex-auth-form-title-1 img { 
    width: 52px;
    height: 52px;
 }
.ex-auth-form-title-1 img.full-logo { width: auto!important; }
.ex-auth-form {
    width: 100%;
    max-width: 350px;
    padding: 1rem;
    margin: 0 auto;
    color: var(--ex-color-grey-ea);
}
.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
}
.ex-progress {
    height: 4px;
    border: none;
    background-color: var(--ex-color-light-ea);
    border-radius: 0;
}
.ex-auth-box-or {
    position: relative;
    text-align: center;
    height: 50px;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
}
.ex-auth-box-or .or-line {
    position: absolute;
    height: 1px;
    top: 25px;
    left: 40px;
    right: 40px;
    background-color: #CED4DA;
}
.ex-auth-box-or .or {
    position: absolute;
    top: 11.5px;
    -lh-property: 0;
    left: -webkit-calc(50% - 25px);
    left: -moz-calc(50% - 25px);
    left: calc(50% - 25px);
    width: 50px;
    height: 27px;
    background-color: var(--ex-color-light-ea);
    color: var(--ex-color-grey-ea);
    margin: 0 auto;
}







/** Global
 *  About Globals style
 */
/** Header style */
.ex-header { 
    height: 60px;
    background-color: var(--ex-color-light-ea);
}
.ex-inner-header {
    width: calc(100% - 3rem);
    height: 100%;
    margin: 0 auto;
}
.hidden-search-bar-box {
    position: fixed;
    top: -60px;
    z-index: 600;
    transition: all .25s;
    height: 40px;
    background-color: var(--ex-color-grey-hover-ea);
    width: 100%;
}
.ex-inner-header-left,
.ex-inner-header-right { padding-top: calc(60px - 50px); }
.ex-inner-header-left { width: 45%; }
.ex-inner-header-right { width: 55%; }
.ex-inner-header-left .logo {
    width: 40px;
    height: 40px;
}
.logo a {
    width: 100%;
    height: 100%;
    padding: 9.5px 5px;
    line-height: 40px;
    border-radius: 2rem;
    transition: all .25s;
}
.logo a:hover { background-color: var(--ex-color-grey-hover-ea); }
.logo img {
    width: 30px;
    height: auto;
    margin-top: -4.8px;
}
.ex-inner-header-left .search-box-contenor {
    width: 400px;
    height: 40px;
}
.hidden-search-bar-box .search-box-contenor {
    width: 100%;
    height: 40px;
}
.search-box-contenor a {
    width: 100%;
    height: 100%;
    position: relative;
    top: 14px;
    padding: 9.5px 5px;
    line-height: 40px;
    border-radius: 2rem;
    transition: all .25s;
    color: var(--ex-color-grey-ea);

    display: none;
}
.search-box-contenor a:hover {
    background-color: var(--ex-color-grey-hover-ea)!important;
    color: var(--ex-color-pink-ea)!important;
}
.search-box-contenor a > span {
    width: 30px;
    height: auto;
    position: absolute;
    top: 0;
    left: 31%;
}
.search-box-contenor .input-group {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    transition: all .3s;
}
.search-box-contenor .input-group .input-group-prepend .input-group-text {
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    background-color: var(--ex-color-grey-hover-ea);
    color: var(--ex-color-grey-ea);
    border-right: 0px;
    border-color: var(--ex-color-grey-hover-ea);
}
.search-box-contenor .input-group .ex-search-box-form-control {
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-left: 0px;
    background-color: var(--ex-color-grey-hover-ea);
    border-color: var(--ex-color-grey-hover-ea);
}
.ex-search-box-form-control:focus { box-shadow: none; }
.ex-inner-header-right .nav li .ex-nav-link {
    font-weight: 700;
    border-radius: 2rem;
    transition: all .25s;
    color: var(--ex-color-grey-ea);
    text-align: center;
    padding: .5rem .85rem;
}
.ex-inner-header-right .nav li .ex-nav-link:hover {
    background-color: var(--ex-color-grey-hover-ea);
    color: var(--ex-color-pink-ea);
}
.ex-inner-header-right .nav li .ex-nav-link.active { color: var(--ex-color-violet-hover-ea); }
.ex-inner-header-right .nav li .ex-nav-link .nav-h-ico {
    position: relative;
    top: 5.5px;
    display: none;
}
.ex-inner-header-right .nav li:first-child .ex-nav-link .nav-h-ico { left: -2px; }
.ex-inner-header-right .nav li .dropdown-menu {
    top: 8px!important;
    padding: 0;
    background-color: var(--ex-color-light-ea);
    border: 1px solid transparent;
    border-top-width: 0;
    box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,.1);
    border-radius: 0 0 .5rem .5rem;
    width: auto;
}
.ex-inner-header-right .nav li .dropdown-menu:before{
      border: solid;
      border-color: var(--ex-color-light-ea) transparent;
      border-width: 0 10px 12px 10px;
      content: "";
      left: calc(100% - 1.8rem);
      top: -12px;
      position: absolute;
}
.ex-inner-header-right .nav li .dropdown-menu .dropdown-item {
    font-size: .9rem;
    width: 100%;
    padding: .65rem 1rem;
    font-weight: 700;
    color: var(--ex-color-black-ea);
}
.ex-inner-header-right .nav li .dropdown-menu .dropdown-divider { margin: 0 auto; }
.ex-inner-header-right .nav li .dropdown-menu .dropdown-item:last-child { border-radius: 0 0 .5rem .5rem; }
.ex-inner-header-right .nav li .dropdown-menu .dropdown-item:hover {
    background-color: transparent;
    color: var(--ex-color-violet-hover-ea);
    border-color: transparent;
}









/** Main */
.ex-main { padding-top: 60PX; }









/** category style */
.ex-category-page { padding: 7rem 1.5rem; }
.ex-categories-cards {
    width: 100%;
    padding-top: 2.5rem;;
    padding-bottom: 2.5rem;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-wrap: wrap;
}
@keyframes zoom {
    from { object-position: 0 50%; }
    to { object-position: 100% 50%; }
}
.ex-card {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 23%;
    height: 250px;
    border-radius: 1rem;
    margin-bottom: 3rem;
    margin-right: 1rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,.1);
    cursor: pointer;
    -webkit-transition: all var(--ex-speed) ease;
    transition: all var(--ex-speed) ease;
    background: rgba(0, 0, 0, .5);
}
.ex-card:hover {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}
.card-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, .1));
}
.card-image img {
    -webkit-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3);
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    -webkit-transition: all var(--ex-speed) ease;
    transition: all var(--ex-speed) ease;
    border-radius: 1rem;
}
.ex-card:hover .card-image img {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0.5;
}
.card-footer {
    position: absolute;
    display: block;
    background-color: transparent;
    border-top: none;
    color: var(--ex-color-light-ea);
}
.ex-card:hover .card-footer {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    text-shadow: 0 .5px 1px rgba(0, 0, 0, .45);
}
.ex-card[data-effect="color"]:hover {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}
.ex-card[data-effect="color"] .card-image {
    background: linear-gradient(to bottom, rgba(225, 225, 225, 0), rgba(225, 225, 225, 0));
}
.ex-card[data-effect="color"]:hover .card-image img {
    opacity: 0.8;
    animation-name: zoom;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.ex-card .card-checked {
    position: absolute;
    right: 1rem;
    top: .75rem;
    color: var(--ex-color-green-ea);
    text-shadow: 0 .5px 1px rgba(0, 0, 0, .45)
}
.choice-finished { height: 3rem; }









/** all Placehoder */
/**Home masonry*/
.ex-home-placeholder {
    width: 90%;
    margin: 1rem auto;
    justify-content: center;
    -webkit-animation: none;
    animation: none;
}
.masonry-taste-art-placeholder {
    display: inline-block;
    float: left;
    width: 228px;
    min-height: 150px;
    border-radius: .5rem;
    margin: .5rem;
    background-color: var(--ex-color-grey-hover-ea);
}
.masonry-taste-art-placeholder .info-simulate {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%!important;
    height: 60px;
    border-radius: 0 0 .5rem .5rem;
    border-left: 1px solid rgba(0,0,0,.1);
    border-right: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
    background-color: var(--ex-color-light-ea);
    padding: .5rem 1rem;
}
.masonry-taste-art-placeholder .info-simulate .avatar {
    display: inline-block;
    float: left;
    width: 43px;
    height: 43px;
    background-color: var(--ex-color-grey-hover-ea);
}
.masonry-taste-art-placeholder .info-simulate .info {
    display: inline-block;
    float: left;
    margin-left: .75rem;
}
.masonry-taste-art-placeholder .info-simulate .info .info-place,
.masonry-taste-art-placeholder .info-simulate .info .info-name {
    width: 100px;
    height: 12px;
    border-radius: 2rem;
    background-color: var(--ex-color-grey-hover-ea);
    margin: .35rem 0;
}
.masonry-taste-art-placeholder .info-simulate .info .info-place { width: 70px; }
.masonry-taste-art-placeholder.art-h-200 { height: 200px; }
.masonry-taste-art-placeholder.art-h-250 { height: 250px; }
.masonry-taste-art-placeholder.art-h-300 { height: 300px; }
.masonry-taste-art-placeholder.art-h-400 { height: 400px; }
.masonry-taste-art-placeholder.art-h-500 { height: 500px; }
.masonry-taste-art-placeholder.art-h-550 { height: 550px; }

/**Home artwork display placeholder */
.exart-placeholder-display {
    position: relative;
    width: 100%; 
    margin: 5rem auto 0;
    -webkit-animation: none;
    animation: none; 
}
.artwork-placeholder {
    display: block;
    float: left;
    width: 100%;
    height: 500px;
}
.artwork-placeholder-exart-self {
    width: 900px;
    margin: 0 auto;
    height: 100%;
    border-radius: 1rem;
    background-color: var(--ex-color-grey-hover-ea);
    box-shadow: 0 18px 32px -18px var(--ex-color-grey-ea);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.artwork-placeholder-exart-self .exrow {
    width: 900px;
    height: 100%;
    border-radius: 1rem;
}
.artwork-placeholder-exart-self .art-placeholder-content {
    width: 100%;
    border-radius: 1rem 0 0 1rem;
}
.artwork-placeholder-exart-self .art-placeholder-comment {
    width: 100%;
    height: 100%;
    border-radius: 0 1rem 1rem 0;
    padding: 0 .5rem;
}
.artwork-placeholder-exart-self .art-placeholder-comment .info-simulate {
    width: 100%!important;
    height: 60px;
    padding: .5rem;
}
.artwork-placeholder-exart-self .art-placeholder-comment .info-simulate .avatar {
    display: inline-block;
    float: left;
    width: 43px;
    height: 43px;
    background-color: var(--ex-color-grey-hover-ea);
}
.artwork-placeholder-exart-self .art-placeholder-comment .info-simulate .info {
    display: inline-block;
    float: left;
    margin-left: .75rem;
}
.artwork-placeholder-exart-self .art-placeholder-comment .info-simulate .info .info-place,
.artwork-placeholder-exart-self .art-placeholder-comment .info-simulate .info .info-name {
    width: 100px;
    height: 12px;
    border-radius: 2rem;
    background-color: var(--ex-color-grey-hover-ea);
    margin: .35rem 0;
}
.artwork-placeholder-exart-self .art-placeholder-comment .info-simulate .info .info-place { width: 70px; }
.artwork-placeholder-exart-self .art-placeholder-comment .info-artwork-post,
.artwork-placeholder-exart-self .art-placeholder-comment .info-artwork-comment,
.artwork-placeholder-exart-self .art-placeholder-comment .info-artwotk-form {
    width: 100%!important;
    min-height: 50px;
    padding: .5rem;
}
.artwork-placeholder-exart-self .art-placeholder-comment .info-artwork-line {
    height: 12px;
    border-radius: 2rem;
    background-color: var(--ex-color-grey-hover-ea);
    margin: .35rem 0;
}
.artwork-placeholder-exart-self .art-placeholder-comment .info-artwotk-form {
    position: absolute;
    bottom: .5rem;
    left: 0;
    height: 60px;
    border-radius: 0 0 1rem 0;
}
.artwork-placeholder-exart-self .art-placeholder-comment .info-artwotk-form .info-simulate { padding: .5rem 0; }
.artwork-placeholder-exart-self .art-placeholder-comment .info-artwotk-form .info-simulate .avatar {
    display: inline-block;
    float: left;
    width: 43px;
    height: 43px;
    background-color: var(--ex-color-grey-hover-ea);
}
.artwork-placeholder-exart-self .art-placeholder-comment .info-artwotk-form .info-simulate .placeholder-form {
    display: inline-block;
    float: left;
    margin-left: .75rem;
}
.artwork-placeholder-exart-self .art-placeholder-comment .info-artwotk-form .info-simulate .placeholder-form .input-group {
    position: absolute;
    width: 215px;
    border-radius: 2rem;
    transition: all .3s;
    margin-top: .35rem;
}
.artwork-placeholder-exart-self .art-placeholder-comment .info-artwotk-form .info-simulate .placeholder-form .input-group .input-group-append .input-group-text {
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    background-color: var(--ex-color-grey-hover-ea);
    color: var(--ex-color-violet-ea);
    border-left: 0px;
    border-color: var(--ex-color-grey-hover-ea);
}
.artwork-placeholder-exart-self .art-placeholder-comment .info-artwotk-form .info-simulate .placeholder-form .input-group .--ex-form-control {
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border-right: 0px;
    background-color: var(--ex-color-grey-hover-ea);
    border-color: var(--ex-color-grey-hover-ea);
    font-size: .75rem;
}
.artwork-placeholder-exart-self .art-placeholder-comment .info-artwotk-form .info-simulate .placeholder-form .input-group .--ex-form-control:focus { box-shadow: none; }
.artwork-placeholder-exart-self .art-placeholder-comment .art-w-35 { width: 35% }
.artwork-placeholder-exart-self .art-placeholder-comment .art-w-50 { width: 50% }
.artwork-placeholder-exart-self .art-placeholder-comment .art-w-70 { width: 70% }
.artwork-placeholder-exart-self .art-placeholder-comment .art-w-85 { width: 85% }
.artwork-placeholder-exart-self .art-placeholder-comment .art-w-100 { width: 100% }

/**Profile-infos placeholder*/






/** HOME PAGE */
/** masonry artwork */
#home-content { display: none; padding-top: 8px; }
.ex-home-page {
    max-width: 1220px;
    margin: 1rem auto;
    justify-content: center;
    -webkit-animation: none;
    animation: none;
}
.exart {
    width: 244px;
    opacity: 1;
    visibility: visible;
}
.exart-inner {
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 16px;
}
.exart-content {
    width: 100%;
    margin: 0 auto;
}
.exart-art {
    width: 100%;
    min-height: 100px;
    border: 1px solid var(--ex-color-grey-hover-ea);
    border-radius: .5rem;
    background-color: var(--ex-color-grey-hover-ea);
    color: var(--ex-color-black-ea);
    cursor: pointer;
}
.exart-art .exart-like-btn,
.exart-art .exart-comment-btn,
.exart-art .exart-artwork-menu {
    background-color: transparent;
    position: absolute;
    top: 0;
    color: rgba(225, 225, 225, .5); 
    opacity: 0;
    
    z-index: 3;
}
.exart-art .exart-menu {
    background-color: transparent;
    color: rgba(225, 225, 225, .5);
}
.exart-art .exart-artwork-menu .dropdown-menu {
    width: auto;
    padding: 0;
    top: 8px!important;
    background-color: var(--ex-color-light-ea);
    border: 1px solid transparent;
    border-top-width: 0;
    border-radius: .5rem 0 .5rem .5rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,.1);
}
.exart-art .exart-artwork-menu .dropdown-menu:before{
    border: solid;
    border-color: var(--ex-color-light-ea) transparent;
    border-width: 0 10px 12px 10px;
    content: "";
    left: calc(100% - 1.6rem);
    top: -12px;
    position: absolute;
}
.exart-art .exart-artwork-menu .dropdown-menu .dropdown-item {
    font-size: .9rem;
    width: 100%;
    padding: .5rem 1rem;
    cursor: pointer!important;
    font-weight: 700;
}
.exart-art .exart-artwork-menu .dropdown-menu .dropdown-item input {
    font-size: .9rem;
    width: 100%;
    padding: .5rem 1rem;
    text-align: left;
    background-color: transparent;
    border: none;
    cursor: pointer!important;
    font-weight: 700;
}
.exart-art .exart-artwork-menu .dropdown-menu .dropdown-divider { margin: 0 auto; }
.exart-art .exart-artwork-menu .dropdown-menu .dropdown-item:last-child { border-radius: 0 0 .5rem .5rem; }
.exart-art .exart-artwork-menu .dropdown-menu .dropdown-item:hover,
.exart-art .exart-artwork-menu .dropdown-menu .dropdown-item input:hover {
    background-color: var(--ex-color-light-ea);
    color: var(--ex-color-violet-hover-ea);
    border-radius: .5rem  0 0 0;
}
.exart-art .exart-artwork-menu .dropdown-menu .dropdown-item:last-child:hover { border-radius: 0 0 .5rem .5rem; }
.exart-art .exart-artwork-menu .dropdown-menu .dropdown-item:focus,
.exart-art .exart-artwork-menu .dropdown-menu .dropdown-item input:focus { outline: none!important; }
.exart-art .exart-artwork-menu { right: .5rem; }
.exart-art .exart-comment-btn { left: 3.25rem; }
.exart-art .exart-like-btn:focus,
.exart-art .exart-comment-btn:focus,
.exart-art .exart-menu:focus { box-shadow: none; }
.exart-art .exart-like-btn:hover,
.exart-art .exart-comment-btn:hover,
.exart-art .exart-menu:hover { color: rgba(225, 225, 225, 1);  }
.exart-art .exart-like-btn:active { font-size: .9rem;  }
.exart-art a.exart-art-item { color: var(--ex-color-black-ea); } 
.exart-art a.exart-art-item:hover {
    text-decoration: none;
    color: var(--ex-color-black-ea);
}
.exart-art .exart-hover {
    background: linear-gradient(0deg, rgba(225, 225, 225, .1) 55%, rgba(0, 0, 0, .9) 100%);
    width: 228px;
    height: calc(100% - 76px);
    position: absolute;
    border-radius: .5rem .5rem 0 0;
    top: 0;
    left: 8px;
    opacity: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

    z-index: 1
}
.exart-art .exart-art-item img {
    width: 100%;
    border-radius: .5rem .5rem 0 0;
    transition-property: color;
}
.exart-art .exart-art-item:hover .exart-hover,
.exart-art:hover .exart-hover { opacity: .35; }
.exart-art:hover .exart-info { box-shadow: 0 .15rem .15rem rgba(0,0,0,.3); }
.exart-art:hover .exart-like-btn,
.exart-art:hover .exart-comment-btn,
.exart-art:hover .exart-artwork-menu { opacity: 1; }
.exart-art .exart-info {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%!important;
    height: 60px;
    border-radius: 0 0 .5rem .5rem;
    background-color: var(--ex-color-light-ea);
    padding: .5rem 1rem;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

    z-index: 2
}
.exart-art .exart-info .avatar {
    display: inline-block;
    float: left;
    width: 43px;
    height: 43px;
}
.exart-art .exart-info .avatar img { width: 100%; }
.exart-art .exart-info .avatar .ex-avatarname {
    width: 100%;
    height: 100%;
    display: inline-flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    color: var(--ex-color-light-ea);
    font-size: 1rem;
    font-weight: bold;
    border-radius: 50%;
}
.exart-art .exart-info .info {
    display: inline-block;
    float: left;
    margin-left: .75rem;
}
.exart-art .exart-info .info .info-name,
.exart-art .exart-info .info .info-place,
.exart-art .exart-info .info .info-name a {
    width: auto;
    height: auto;
    margin: 0;
    font-size: .9rem;
    font-weight: 700;
    color: var(--ex-color-black-ea);
    background-color: transparent;
}
.exart-art .exart-info .info .info-name a:hover {
    color: var(--ex-color-black-ea);
    text-decoration: none;
}



/** ARTWORK PAGE */
/** Artwork displayer */
.locked-body { overflow: hidden; }
.ex-display-container {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    overflow-y: scroll;
    background-color: var(--ex-color-grey-ea);

    z-index: 100;
}
.ex-display-container .exart-display-overlay {
    position: fixed;
    width: 99%;
    height: 97%;
    top: 0;
    right: 1%;
}
#artwork-content { display: none;}
.artwork-display {
    position: relative;
    width: 100%;
    min-height: 350px;
    margin: 5rem auto 0;
}
.ex-dp-none { display: none!important; }
.ex-dp-block { display: block!important; }
.artwork-display .self-artwork {
    display: block;
    width: 900px;
    height: auto;
    margin: 0 auto;
    border-radius: 1rem;
    background-color: var(--ex-color-light-ea);
    box-shadow: 0 18px 32px -18px var(--ex-color-grey-ea);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.self-artwork .art-content {
    width: 100%;
    border-radius: 1rem 0 0 1rem;
    padding: .5rem;
    flex-direction: column;
    justify-content: center;
}
.self-artwork .art-content img {
    display: block;
    width: 100%;
    transition-property: color;
    border-radius: 1rem;
}
.self-artwork .art-comment {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 0 1rem 1rem 0;
    padding: 0 .5rem;
}
.self-artwork .art-comment .artwork-info {
    width: 100%!important;
    height: 60px;
    padding: .5rem 0;
}
.self-artwork .art-comment .artwork-info .avatar {
    display: inline-block;
    float: left;
    width: 43px;
    height: 43px;
}
.self-artwork .art-comment .artwork-info .info {
    display: inline-block;
    float: left;
    margin-left: .75rem;
}
.self-artwork .art-comment .artwork-info .info .info-name a {
    font-weight: 700;
    font-size: .9rem;
    color: var(--ex-color-black-ea);
}
.self-artwork .art-comment .artwork-info .info .info-name a:hover {
    color: var(--ex-color-black-ea);
    text-decoration: none;
}
.self-artwork .art-comment .artwork-info .info .info-place,
.self-artwork .art-comment .artwork-info .info .info-name { margin: 0; }
.self-artwork .art-comment .artwork-info .info .info-place { margin-top: -.3rem; }
.self-artwork .art-comment .artwork-info .info .info-place { 
     font-size: .9rem;
     font-weight: 300;
     color: var(--ex-color-grey-ea);
}
.self-artwork .art-comment .artwork-info .artwork-menu {
    background-color: transparent;
    position: absolute;
    top: 0;
    color: var(--ex-color-grey-ea);
    right: .5rem;
    
    z-index: 700;
}
.self-artwork .art-comment .artwork-info .artwork-menu .ex-artwork-menu {
    background-color: transparent;
    color: var(--ex-color-grey-ea); 
}
.self-artwork .art-comment .artwork-info .artwork-menu .ex-artwork-menu:hover { color: var(--ex-color-violet-hover-ea);  }
.self-artwork .art-comment .artwork-info .artwork-menu .dropdown-menu {
    width: auto;
    padding: 0;
    top: 8px!important;
    background-color: var(--ex-color-light-ea);
    border: 1px solid transparent;
    border-top-width: 0;
    border-radius: .5rem 0 .5rem .5rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,.1);
}
.self-artwork .art-comment .artwork-info .artwork-menu .dropdown-menu:before{
    border: solid;
    border-color: var(--ex-color-light-ea) transparent;
    border-width: 0 10px 12px 10px;
    content: "";
    left: calc(100% - 1.6rem);
    top: -12px;
    position: absolute;
}
.self-artwork .art-comment .artwork-info .artwork-menu .dropdown-menu .dropdown-item {
    font-size: .9rem;
    width: 100%;
    padding: .5rem 1rem;
    cursor: pointer!important;
    font-weight: 700;
}
.self-artwork .art-comment .artwork-info .artwork-menu .dropdown-menu .dropdown-item input {
    font-size: .9rem;
    width: 100%;
    padding: .5rem 1rem;
    text-align: left;
    background-color: transparent;
    border: none;
    cursor: pointer!important;
    font-weight: 700;
}
.self-artwork .art-comment .artwork-info .artwork-menu .dropdown-menu .dropdown-divider { margin: 0 auto; }
.self-artwork .art-comment .artwork-info .artwork-menu .dropdown-menu .dropdown-item:last-child { border-radius: 0 0 .5rem .5rem; }
.self-artwork .art-comment .artwork-info .artwork-menu .dropdown-menu .dropdown-item:hover,
.self-artwork .art-comment .artwork-info .artwork-menu .dropdown-menu .dropdown-item input:hover {
    background-color: var(--ex-color-light-ea);
    color: var(--ex-color-violet-hover-ea);
    border-radius: .5rem  0 0 0;
}
.self-artwork .art-comment .artwork-info .artwork-menu .dropdown-menu .dropdown-item:last-child:hover { border-radius: 0 0 .5rem .5rem; }
.self-artwork .art-comment .artwork-info .artwork-menu .ex-artwork-menu:focus,
.self-artwork .art-comment .artwork-info .artwork-menu .dropdown-menu .dropdown-item:focus,
.self-artwork .art-comment .artwork-info .artwork-menu .dropdown-menu .dropdown-item input:focus {
    outline: none!important;
    box-shadow: none!important;
}
.self-artwork .art-comment .artwork-content .exart-like-btn {
    background-color: transparent;
    position: relative;
    right: calc(-100% + 4.6rem);
    color: var(--ex-color-grey-ea); 
    
    z-index: 600;
}
.self-artwork .art-comment .artwork-content {
    width: 100%!important;
    height: auto;
    padding: .5rem 0;
}
.self-artwork .art-comment .artwotk-content { padding: .5rem .5rem .5rem 0!important; }
.self-artwork .art-comment .artwork-content .exart-like-btn:focus { outline: none!important; }
.self-artwork .art-comment .artwork-content .exart-like-btn:focus { color: var(--ex-color-violet-hover-ea);  }
.self-artwork .art-comment .artwork-content .exart-like-btn:hover { color: var(--ex-color-violet-hover-ea);  }
.self-artwork .art-comment .artwork-content div .content-link,
.self-artwork .art-comment .artwork-content div .content-self {
    color: var(--ex-color-black-ea);
    font-weight: 700;
    font-size: .9rem;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
.self-artwork .art-comment .artwork-content div .content-link:hover {
    color: var(--ex-color-black-ea);
    text-decoration: none;
}
.self-artwork .art-comment .artwork-content div .content-self,
.self-artwork .art-comment .artwork-content .content-critics-counter { font-weight: normal; }
.self-artwork .art-comment .artwork-content .content-critics-counter {
    width: 100px;
    line-height: 1rem;
    margin: .5rem auto;
    text-align: center;
    font-size: .73rem;
    color var(--ex-color-grey-ea);
    font-weight: 700;
    background-color: var(--ex-color-grey-hover-ea);
    padding: .5rem .7rem;
    border-radius: 2rem;
}
.self-artwork .art-comment .artwork-content .content-last-critics {
    margin: .5rem 0;
    font-size: .78rem;
    color: var(--ex-color-grey-ea);
}
.self-artwork .art-comment .artwork-content .content-last-critics a {
    color: var(--ex-color-black-ea);
    font-weight: 700;
}
.self-artwork .art-comment .artwork-content .content-last-critics a:hover {
    color: var(--ex-color-black-ea);
    text-decoration: none;
}
.self-artwork .art-comment .artwork-content .content-last-critics .critics-self { position: relative; }
.self-artwork .art-comment .artwork-content .content-last-critics .critics-self .critic-edit-box {
    position: relative;
    top: 0;
    width: calc(100% - .5rem);
    border-radius: 2rem;
    height: 32px;
    margin-top: .5rem;
    margin-bottom: .5rem;
    border-color: var(--ex-color-grey-hover-ea);
    font-size: .75rem;
}
.self-artwork .art-comment .artwork-content .content-last-critics .critics-self .critic-counter {
    position: relative;
    top: 0;
    width: calc(100% - .5rem);
    color: var(--ex-color-grey-ea);
    font-size: .7rem;
}
.self-artwork .art-comment .artwork-content .content-last-critics .critics-self .critic-close {
    display: none;
    cursor: pointer;
    transition: all .3s;
}
.self-artwork .art-comment .artwork-content .content-last-critics .critics-self:hover .critic-close,
.self-artwork .art-comment .artwork-content .content-last-critics .critics-self:focus .critic-close { display: inline-block; }
.self-artwork .art-comment .artwork-content .content-last-critics .critics-self .critic-close:hover .critic-close-btn { color: var(--ex-color-violet-hover-ea); }
.self-artwork .artwork-form {
    width: 100%!important;
    position: absolute;
    height: 60px;
    padding: .5rem;
    bottom: .5rem;
    left: 0;
    border-radius: 0 0 1rem 0;

    z-index: 3002;
}
.self-artwork .artwork-form .critic-info {
    width: 100%!important;
    height: 60px;
    padding: .5rem 0;
}
.self-artwork .artwork-form .critic-info .avatar {
    display: inline-block;
    float: left;
    width: 43px;
    height: 43px;
}
.self-artwork .artwork-form .critic-info .critics-form {
    display: inline-block;
    float: left;
    margin-left: .75rem;
}
.self-artwork .artwork-form .critic-info .critics-form .input-group {
    position: absolute;
    width: calc(100% - 4.5rem);
    border-radius: 2rem;
    transition: all .3s;
    margin-top: .35rem;
}
.self-artwork .artwork-form .critic-info .critics-form .input-group .input-group-append .input-group-text {
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    background-color: var(--ex-color-grey-hover-ea);
    color: var(--ex-color-violet-ea);
    border-color: var(--ex-color-grey-hover-ea);
    border-left: 0px;
    cursor: pointer;
}
.self-artwork .artwork-form .critic-info .critics-form .input-group .critics-form-control {
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    background-color: var(--ex-color-grey-hover-ea);
    border-color: var(--ex-color-grey-hover-ea);
    border-right: 0px;
    font-size: .75rem;
    position: relative;
}
.self-artwork .artwork-form .critic-info .critics-form .input-group .critics-form-control:focus { box-shadow: none; }
.exart-closer {
    position: fixed;
    right: 3%;
    top: auto; 
}
#prev,
#next {
    position: fixed;
    top: 50%; 
}
#prev { left: 1%; }
#next{ right: 3%; }




.exart-same-categorie-artwork {
    position: relative;
    margin: 5rem auto 0;
}

.exart-same-categorie-artwork {
    max-width: 1220px;
    margin: 1rem auto;
    justify-content: center;
    -webkit-animation: none;
    animation: none;
}



/** Others utilities */
.ex-avatarname {
    display: inline-flex;
    padding: 0;
    margin: 0;
    height: 43px;
    width: 43px;
    justify-content: center;
    align-items: center;
    color: var(--ex-color-light-ea);
    font-size: 1rem;
    font-weight: bold;
    border-radius: 50%;
}



.ex-artwork-display-container {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    right: 0;
    background-color: var(--ex-color-light-ea);
}
.ex-artwork-display {
    position: relative;
    width: 100%;
    min-height: 350px;
    margin: 1rem auto 0;
}
.ex-artwork-display .self-artwork {
    display: block;
    width: 720px;
    height: auto;
    margin: 0 auto;
    border-radius: 1rem;
    background-color: var(--ex-color-light-ea);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.ex-artwork-display .self-artwork .art-comment .artwork-content .exart-like-btn {
    background-color: transparent;
    position: relative;
    left: 0;
    color: var(--ex-color-grey-ea);
}
.ex-artwork-display .self-artwork .art-comment .artwork-content .content-last-critics {
    height: auto;
    min-height: 150px;
    margin: .5rem 0 1rem;
    font-size: .78rem;
    color: var(--ex-color-grey-ea);
}
.ex-artwork-display .self-artwork .artwork-form {
    width: 100%!important;
    position: relative;
    height: 60px;
    padding: .5rem;
    bottom: .5rem;
    left: 0;
    margin-top: 1.5rem;
    border-radius: 0 0 1rem 0;
}
.ex-artwork-display .self-artwork .artwork-form .critic-info .critics-form .input-group {
    position: absolute;
    width: calc(100% - 4.4375rem);
    border-radius: 2rem;
    transition: all .3s;
    margin-top: .35rem;
}









/* PROFILE PAGE */
.ex-profile-page {
    max-width: 1220px;
    margin: 1rem auto;
    justify-content: center;
    -webkit-animation: none;
    animation: none;
}
.ex-profile-page .exprofile-info-header {
    width: 100%!important;
    height: auto;
    text-align: center;
}
.ex-profile-page .exprofile-info-header .avatar {
    margin: 0 auto;
    width: 90px;
    height: 90px;
    padding: 3px;
    background-color: var(--ex-color-pink-ea);
}
.ex-profile-page .exprofile-info-header .avatar .ex-avatarname,
.ex-profile-page .exprofile-info-header .avatar img {
    width: 100%;
    height: 100%;
    line-height: 90px;
    font-size: 1.5rem;
}
.ex-profile-page .exprofile-info-header .exprofile-info-header-counter .ex-btn-primary-outline:hover {
    background-color: var(--ex-color-violet-hover-ea)!important;
    border-color: var(--ex-color-violet-hover-ea)!important;
    color: var(--ex-color-light-ea)!important;
}
.ex-profile-page .exp-info-user {
    color: var(--ex-color-black-ea);
    font-weight: 700;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
.ex-profile-page .exp-info-user:hover {
    color: var(--ex-color-black-ea);
    text-decoration: none;
}
.ex-profile-page .exprofile-info-footer .exprofile-info-footer-btns {
    width: 100%!important;
    height: auto;
    text-align: center;
    display: none;
}