/* 
 *  Device = Desktops
 *  Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {}
  





/* 
 *  Device = Laptops, Desktops
 *  Screen = B/w 1025px to 1280px
 */
@media (min-width: 1025px) and (max-width: 1280px) {}
  




/* 
 *  Device = Tablets, Ipads (landscape)
 *  Screen = B/w 768px to 1024px
 */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    /** Auth style */
    .ex-auth-slide-box,
    .ex-auth-form-box { width: 50%; }
    .ex-auth-form-box { padding: 2.25rem 0; }
    .ex-auth-form-title-1 { margin-bottom: 1rem; }



    /** Header style */
    .ex-inner-header-left .search-box-contenor { width: 250px; }



    /** category style */
    .ex-card { width: 47%!important; }



    /** All placeholder */
    .artwork-placeholder-exart-self { width: 650px!important; }
    .artwork-placeholder-exart-self .exrow { width: 650px!important; }
    .artwork-placeholder-exart-self .art-placeholder-comment {  border-radius: 0 0 1rem 1rem!important;  }
    .artwork-placeholder-exart-self .art-placeholder-comment .info-simulate {
        width: 100%!important;
        height: 60px;
        padding: .5rem 1rem;
    }
    .artwork-placeholder-exart-self .exrow .col-xs-12.col-md-12.col-lg-12.col-xl-4 { border-radius: 0 0 1rem 1rem!important; }
    .artwork-placeholder-exart-self .art-placeholder-comment .info-artwotk-form .info-simulate .placeholder-form .input-group {
        width: 581px;
    }
    

    /** Artwork displayer */
    .exart-display-overlay {
        width: 98%!important;
        right: 2%!important;
    }
    .self-artwork { width: 650px!important; }
    .self-artwork .artwork-form .critic-info .critics-form .input-group { width: calc(100% - 5.4rem); }
    .self-artwork .artwork-form .critic-info { margin-left: .75rem 0;  }
    .self-artwork .art-comment .artwork-content { padding: .5rem 1rem; }
    .self-artwork .artwork-form {
        position: relative;
        padding: .5rem 1rem;
    }


    .ex-profile-page { max-width: 95%; }
}
  





/* 
 * Device = Tablets, Ipads (portrait)
 *  Screen = B/w 768px to 1024px
 */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    /** Auth style */    
    .ex-auth-slide-box,
    .ex-auth-form-box { width: 100%; }
    .ex-hidden { display: none; }



    /** Header style */
    .ex-inner-header-left .search-box-contenor { width: 255px; }



    /** All placeholder */
    .artwork-placeholder-exart-self { width: 550px!important; }
    .artwork-placeholder-exart-self .exrow { width: 550px!important; }
    .artwork-placeholder-exart-self .art-placeholder-comment {  border-radius: 0 0 1rem 1rem!important;  }
    .artwork-placeholder-exart-self .art-placeholder-comment .info-simulate {
        width: 100%!important;
        height: 60px;
        padding: .5rem 1rem;
    }
    .artwork-placeholder-exart-self .exrow .col-xs-12.col-md-12.col-lg-12.col-xl-4 { border-radius: 0 0 1rem 1rem!important; }
    .artwork-placeholder-exart-self .art-placeholder-comment .info-artwotk-form .info-simulate .placeholder-form .input-group {
        width: 186px+15px;
    }
    .artwork-placeholder-exart-self .art-placeholder-comment .info-artwork-post, .artwork-placeholder-exart-self .art-placeholder-comment .info-artwork-comment, .artwork-placeholder-exart-self .art-placeholder-comment .info-artwotk-form {
        padding: .5rem 1rem;
    }



    /** Artwork displayer */
    .exart-display-overlay {
        width: 96%!important;
        right: 4%!important;
    }
    .artwork-display .self-artwork {
        width: 550px!important;
        min-height: 350px;
    }
    .self-artwork .art-comment { padding: 0 1.5rem; }
    .self-artwork .artwork-form {
        position: relative;
        padding: .5rem 1.5rem;
    }
    .self-artwork .artwork-form .critic-info .critics-form .input-group { width: 186px; }

    .exart-closer { right: 7%; }
    #prev { left: 7%; }
    #next{ right: 7%; }
}
 





/**
 *  Device = Low Resolution Tablets, Mobiles (Landscape)
 *  Screen = B/w 481px to 767px
 */
@media (min-width: 481px) and (max-width: 767px) {
    /** Auth style */
    .ex-auth-slide-box,
    .ex-auth-form-box { width: 100%; }
    .ex-hidden { display: none; }
    .ex-auth-form-box { padding: 2rem 0; }
    .ex-title-special img { 
        width: 42px;
        height: 42px;
    }



    /** Header style */
    .ex-inner-header { width: calc(100% - 2rem); }
    .ex-inner-header-left { width: 30% }
    .ex-inner-header-right { width: 70%; }
    .ex-inner-header-left {
        padding: 0!important;
        margin-top: -4px;
    }
    .ex-inner-header-left .search-box-contenor {
        width: 40px;
        height: 40px;
    }
    .search-box-contenor a { display: block; }
    .ex-inner-header-left .search-box-contenor .input-group { display: none; }
    .ex-inner-header-right .nav li .ex-nav-link {
        width: 40px;
        height: 40px;
    }
    .ex-inner-header-right .nav li .ex-nav-link .nav-h-ico { display: block; }
    .ex-inner-header-right .nav li .ex-nav-link span { display: none; }
    .ex-inner-header-right .nav li:first-child .ex-nav-link { display: none }
    


    /** category style */
    .ex-card { width: 100%!important; }



    /** All placeholder */
    .masonry-taste-art-placeholder { width: 212px; }

    .artwork-placeholder-exart-self { width: 350px!important; }
    .artwork-placeholder-exart-self .exrow { width: 350px!important; }
    .artwork-placeholder-exart-self .exrow .col-xs-12.col-md-12.col-lg-12.col-xl-4 { border-radius: 0 0 1rem 1rem!important; }
    .artwork-placeholder-exart-self .art-placeholder-content { border-radius: 1rem 1rem 0 0!important; }
    .artwork-placeholder-exart-self .art-placeholder-comment { border-radius: 0 0 1rem 1rem!important; }
    ./*info-artwotk-form .input-group { width: 265px; }*/



    /** mansory artwork */
    .ex-home-page { width: 450px!important; }
    .exart { width: 225px; }
    .exart-art .exart-hover { width: 209px; }



    /** Artwork displayer */
    .self-artwork { width: 350px; }
    .self-artwork .artwork-form { position: relative; }
    .self-artwork .artwork-form .critic-info .critics-form .input-group { width: 500px; }
}
  




/**
 *  Device = Most of the Smartphones Mobiles (Portrait)
 *  Screen = B/w 320px to 479px
 */ 
@media (min-width: 320px) and (max-width: 480px) {
    /** Auth style */
    .ex-auth-slide-box,
    .ex-auth-form-box { width: 100%; }
    .ex-hidden { display: none; }
    .ex-auth-form-box { padding: 2.25rem 0; }
    .ex-auth-form-title-1 { margin-bottom: 1rem; }



    /** Header style */
    .ex-inner-header { width: calc(100% - 2rem); }
    .hidden-search-bar-box {
        position: fixed;
        top: -60px;
        z-index: 600;
        transition: all .25s;
        height: 40px;
    }
    .ex-inner-header-left { width: 33% }
    .ex-inner-header-right { width: 67%; }
    .ex-inner-header-left {
        padding: 0!important;
        margin-top: -4px;
    }
    .ex-inner-header-left .search-box-contenor {
        width: 40px;
        height: 40px;
    }
    .search-box-contenor a { display: block; }
    .ex-inner-header-left .search-box-contenor .input-group { display: none; }
    .ex-inner-header-right .nav li .ex-nav-link {
        width: 40px;
        height: 40px;
    }
    .ex-inner-header-right .nav li .ex-nav-link .nav-h-ico { display: block; }
    .ex-inner-header-right .nav li .ex-nav-link span { display: none; }
    .ex-inner-header-right .nav li:first-child .ex-nav-link { display: none }



    /** category style */
    .ex-card { width: 100%!important; }



    /** All placeholder */
    .masonry-taste-art-placeholder { width: 155px; }
    .masonry-taste-art-placeholder .info-simulate { 
        height: 50px;
        padding: .5rem;
    }
    .masonry-taste-art-placeholder .info-simulate .avatar {
        width: 33px;
        height: 33px;
    }
    .masonry-taste-art-placeholder .info-simulate .info { margin-left: .2rem; }

    .artwork-placeholder-exart-self { width: 300px!important; }
    .artwork-placeholder-exart-self .exrow { width: 280px!important; }
    .artwork-placeholder-exart-self .exrow .col-xs-12.col-md-12.col-lg-12.col-xl-4 { border-radius: 0 0 1rem 1rem!important; }
    .artwork-placeholder-exart-self .art-placehoder-content { border-radius: 1rem 1rem 0 0!important; }
    .artwork-placeholder-exart-self .art-placehoder-comment { border-radius: 0 0 1rem 1rem!important; }
    .artwork-placeholder-exart-self .art-placeholder-comment .info-simulate .avatar {
        width: 33px;
        height: 33px;
    }
    .artwork-placeholder-exart-self .art-placeholder-comment .info-simulate .info {
        margin-left: .5rem;
        margin-top: .25rem;
    }
    .artwork-placeholder-exart-self .art-placeholder-comment .info-simulate .info .info-place,
    .artwork-placeholder-exart-self .art-placeholder-comment .info-simulate .info .info-name {
        margin: .15rem 0;
    }
    .artwork-placeholder-exart-self .art-placeholder-comment .info-artwotk-form { bottom: .05rem; }
    .artwork-placeholder-exart-self .art-placeholder-comment .info-artwotk-form .info-simulate .avatar {
        width: 33px;
        height: 33px;
    }
    .artwork-placeholder-exart-self .art-placeholder-comment .info-artwotk-form .info-simulate .placeholder-form .input-group {
        width: 218px;
        margin-top: .1rem;
    }



    /** masonry artwork */
    .exart-display-overlay {
        width: 96%!important;
        right: 4%!important;
    }
    .ex-home-page { width: 357px!important; }
    .exart { width: 178.5px; }
    .exart-art .exart-hover { width: 162.5px; }
    .exart-art .exart-info .avatar {
        width: 33px;
        height: 33px;
    }
    .exart-art .exart-info .info {
        position: absolute;
        margin-left: .5rem;
    }
    .exart-art .exart-info .info .info-place,
    .exart-art .exart-info .info .info-name { height: 17px; }
    .exart-art .exart-info .info .info-place .small:first-child { display: none; }
    

    /** Artwork displayer */
    .self-artwork { width: 300px!important; }
    .self-artwork .art-comment { padding: 0 1rem; }
    .self-artwork .art-comment .artwork-info .info {
        margin-left: .35rem;
        margin-top: -5px;
    }
    .self-artwork .artwork-form {
        position: relative; 
        padding: .5rem 1rem;
    }
    .self-artwork .artwork-form .critic-info .critics-form .input-group {
        width: calc(100% - 4.75rem);
        margin: 0; 
    }
    .self-artwork .art-comment .artwork-info .avatar {
        width: 33px;
        height: 33px;
    }
    .self-artwork .artwork-form .critic-info .avatar {
        width: 33px;
        height: 33px;
    }

    .exart-closer { right: 7%; }
    #prev { left: 2%; }
    #next{ right: 7%; }




    .ex-avatarname {
        height: 33px;
        width: 33px;
    }





    .ex-artwork-display .self-artwork .artwork-form .critic-info .critics-form .input-group {
        margin: 0;
        width: calc(100% - 3.75rem);
    }






    .ex-profile-page .exprofile-info-header .avatar {
        width: 75px;
        height: 75px;
    }
    .ex-profile-page .exprofile-info-header .exprofile-info-header-counter { display: none!important }
    .ex-profile-page .exprofile-info-footer { padding: 0 1.5rem 0 0!important; }
    .ex-profile-page .exprofile-info-footer .exprofile-info-footer-btns { display: block!important; }
}
 




/**
 *  Device = Most of the Smartphones Mobiles (Portrait)
 *  Screen = B/w 320px to 479px
 */ 
@media (max-width: 320px) {
    /** Header style */
    .ex-inner-header { width: calc(100% - .5rem); }
    .ex-inner-header-left { width: 30% }
    .ex-inner-header-right { width: 70%; }
    .ex-inner-header-left {
        padding: 0!important;
        margin-top: -4px;
    }
    .ex-inner-header-left .logo.mr-3 { margin-right: .5rem!important; }
    .ex-inner-header-left .search-box-contenor {
        width: 30px;
        height: 30px;
    }
    .ex-inner-header-left .logo {
        width: 30px;
        height: 30px;
    }
    .logo a {
        padding: 4px 5px;
        line-height: 67px;
        margin-top: 30px;
    }
    .logo img { width: 20px; }
    .ex-inner-header-left .search-box-contenor {
        width: 30px;
        height: 30px;
    }
    .search-box-contenor a {
        top: 9px;
        padding: 4px 5px;
        line-height: 30px;
    }
    .search-box-contenor a > span {
        width: 20px;
        left: 21%!important;
    }
    .ex-inner-header-right .nav li .ex-nav-link {
        width: 30px;
        height: 30px;
        margin-top: 5px;
        line-height: 30px;
        padding: 0;
    }
    .ex-inner-header-right .nav li .ex-nav-link .nav-h-ico { 
        top: 7.5px;
        left: 25%;
    }

    /** All placeholder */
    .masonry-taste-art-placeholder { width: 135px; }
    .masonry-taste-art-placeholder .info-simulate { 
        height: 50px;
        padding: .5rem;
    }
    .masonry-taste-art-placeholder .info-simulate .avatar {
        width: 33px;
        height: 33px;
    }
    .masonry-taste-art-placeholder .info-simulate .info {
        position: absolute;
        margin-left: .2rem;
    }
    .masonry-taste-art-placeholder .info .info-place,
    .masonry-taste-art-placeholder .info .info-name {
        height: 9px!important;
        width: 65px!important;
    }
    .masonry-taste-art-placeholder .info .info-place { width: 45px!important; }

    .artwork-placeholder-exart-self { width: 230px!important; }
    .artwork-placeholder-exart-self .exrow { width: 230px!important; }
    .artwork-placeholder-exart-self .exrow .col-xs-12.col-md-12.col-lg-12.col-xl-4 { border-radius: 0 0 1rem 1rem!important; }
    .artwork-placeholder-exart-self .art-placeholder-content { border-radius: 1rem 1rem 0 0!important; }
    .artwork-placeholder-exart-self .art-placeholder-comment { border-radius: 0 0 1rem 1rem!important; }
    .artwork-placeholder-exart-self .art-placeholder-comment .info-artwotk-form .info-simulate .placeholder-form .input-group {
        width: 170px;
    }



    /** mansory artwork */
    .ex-home-page { width: 302px!important; }
    .exart { width: 151px; }
    .exart-art .exart-hover { width: 135px; }
    .exart-art .exart-info { 
        height: 50px;
        padding: .5rem;
    }



    /** Artwork displayer */
    .self-artwork { width: 230px!important; }

    .exart-closer { right: 8%; }
    #next{ right: 8%; }
}