/* 
 *  Device = Desktops
 *  Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {}
  





/* 
 *  Device = Laptops, Desktops
 *  Screen = B/w 1025px to 1280px
 */
@media (min-width: 1025px) and (max-width: 1280px) {}
  





/* 
 * Device = Tablets, Ipads (portrait)
 *  Screen = B/w 768px to 1024px
 */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    /** Auth style */    
    .ex-auth-slide-box,
    .ex-auth-form-box { width: 100%; }
    .ex-hidden { display: none; }

    /** Header style */
    .ex-inner-header-left .search-box-contenor { width: 260px; }
}
  




/* 
 *  Device = Tablets, Ipads (landscape)
 *  Screen = B/w 768px to 1024px
 */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    /** Auth style */
    .ex-auth-slide-box,
    .ex-auth-form-box { width: 50%; }
    .ex-auth-form-box { padding: 2.25rem 0; }
    .ex-auth-form-title-1 { margin-bottom: 1rem; }

    /** Header style */
    .ex-inner-header-left .search-box-contenor { width: 250px; }

    /** category style */
    .ex-card { width: 47%!important; }

    /** All placeholder */
    .placeholder-exart-self { width: 650px; }
    .placeholder-exart-self .exrow { width: 650px; }
    .placeholder-exart-self .info-simulate {
        width: 100%!important;
        height: 60px;
        padding: .5rem 1rem;
    }
    .placeholder-exart-self .exrow .col-sx-12.col-md-12.col-lg-12.col-xl-4 { border-radius: 0 0 1rem 1rem!important; }
    .info-artwotk-form .info-simulate { padding: .5rem 0; }
    .info-artwotk-form .input-group {
        position: absolute;
        width: 564px;
        border-radius: 2rem;
        transition: all .3s;
        margin-top: .35rem;
    }

    /** Artwork displayer */
    .exart-self { width: 650px; }
}
  




/**
 *  Device = Most of the Smartphones Mobiles (Portrait)
 *  Screen = B/w 320px to 479px
 */ 
@media (min-width: 320px) and (max-width: 480px) {
    /** Auth style */
    .ex-auth-slide-box,
    .ex-auth-form-box { width: 100%; }
    .ex-hidden { display: none; }
    .ex-auth-form-box { padding: 2.25rem 0; }
    .ex-auth-form-title-1 { margin-bottom: 1rem; }

    /** Header style */
    .ex-inner-header { width: calc(100% - 2rem); }
    .hidden-search-bar-box {
        position: fixed;
        top: -60px;
        z-index: 600;
        transition: all .25s;
        height: 40px;
    }
    .ex-inner-header-left { width: 33% }
    .ex-inner-header-right { width: 67%; }
    .ex-inner-header-left {
        padding: 0!important;
        margin-top: -4px;
    }
    .ex-inner-header-left .search-box-contenor {
        width: 40px;
        height: 40px;
    }
    .search-box-contenor a { display: block; }
    .ex-inner-header-left .search-box-contenor .input-group { display: none; }
    .ex-inner-header-right .nav li .ex-nav-link {
        width: 40px;
        height: 40px;
    }
    .ex-inner-header-right .nav li .ex-nav-link .nav-h-ico { display: block; }
    .ex-inner-header-right .nav li .ex-nav-link span { display: none; }
    .ex-inner-header-right .nav li:first-child .ex-nav-link { display: none }

    /** category style */
    .ex-card { width: 100%!important; }

    /** All placeholder */
    .placeholder-art { width: 155px; }
    .placeholder-art .info-simulate { 
        height: 50px;
        padding: .5rem;
    }
    .info-simulate .avatar,
    .exart-info .avatar {
        width: 33px;
        height: 33px;
    }
    .info-simulate .info,
    .exart-info .info {
        position: absolute;
        margin-left: .5rem;
    }
    .info .info-place,
    .info .info-name { height: 9px; }
    .info .info-place .small:first-child { display: none; }
    .placeholder-exart-self { width: 280px; }
    .placeholder-exart-self .exrow { width: 280px; }
    .placeholder-exart-self .exrow .col-sx-12.col-md-12.col-lg-12.col-xl-4 { border-radius: 0 0 1rem 1rem!important; }
    .placeholder-exart-self .art-content { border-radius: 1rem 1rem 0 0; }
    .placeholder-exart-self .art-comment { border-radius: 0 0 1rem 1rem; }
    .info-artwotk-form .input-group {
        width: 205px;
        margin-top: .1rem;
    }

    /** mansory artwork */
    .ex-home-page { width: 357px!important; }
    .exart { width: 178.5px; }
    .exart-hover { width: 162.5px; }

    /** Artwork displayer */
    .exart-self { width: 280px; }
    .exart-self .art-content img {
        width: 100%;
        transition-property: color;
        clear: right;
        border-radius: 1rem 1rem 0 0;
    }
}
 





/**
 *  Device = Low Resolution Tablets, Mobiles (Landscape)
 *  Screen = B/w 481px to 767px
 */
@media (min-width: 481px) and (max-width: 767px) {
    /** Auth style */
    .ex-auth-slide-box,
    .ex-auth-form-box { width: 100%; }
    .ex-hidden { display: none; }
    .ex-auth-form-box { padding: 2rem 0; }
    .ex-title-special img { 
        width: 42px;
        height: 42px;
    }

    /** Header style */
    .ex-inner-header { width: calc(100% - 2rem); }
    .ex-inner-header-left { width: 30% }
    .ex-inner-header-right { width: 70%; }
    .ex-inner-header-left {
        padding: 0!important;
        margin-top: -4px;
    }
    .ex-inner-header-left .search-box-contenor {
        width: 40px;
        height: 40px;
    }
    .search-box-contenor a { display: block; }
    .ex-inner-header-left .search-box-contenor .input-group { display: none; }
    .ex-inner-header-right .nav li .ex-nav-link {
        width: 40px;
        height: 40px;
    }
    .ex-inner-header-right .nav li .ex-nav-link .nav-h-ico { display: block; }
    .ex-inner-header-right .nav li .ex-nav-link span { display: none; }
    .ex-inner-header-right .nav li:first-child .ex-nav-link { display: none }
    
    /** category style */
    .ex-card { width: 100%!important; }

    /** All placeholder */
    .placeholder-art { width: 212px; }
    .placeholder-exart-self { width: 350px; }
    .placeholder-exart-self .exrow { width: 350px; }
    .placeholder-exart-self .exrow .col-sx-12.col-md-12.col-lg-12.col-xl-4 { border-radius: 0 0 1rem 1rem!important; }
    .placeholder-exart-self .art-content { border-radius: 1rem 1rem 0 0; }
    .placeholder-exart-self .art-comment { border-radius: 0 0 1rem 1rem; }
    .info-artwotk-form .input-group { width: 265px; }

    /** mansory artwork */
    .ex-home-page { width: 450px!important; }
    .exart { width: 225px; }
    .exart-hover { width: 209px; }

    /** Artwork displayer */
    .exart-self { width: 350px; }
}
 




/**
 *  Device = Most of the Smartphones Mobiles (Portrait)
 *  Screen = B/w 320px to 479px
 */ 
@media (max-width: 320px) {
    /** Header style */
    .ex-inner-header { width: calc(100% - .5rem); }
    .ex-inner-header-left { width: 30% }
    .ex-inner-header-right { width: 70%; }
    .ex-inner-header-left {
        padding: 0!important;
        margin-top: -4px;
    }
    .ex-inner-header-left .logo.mr-3 { margin-right: .5rem!important; }
    .ex-inner-header-left .search-box-contenor {
        width: 30px;
        height: 30px;
    }
    .ex-inner-header-left .logo {
        width: 30px;
        height: 30px;
    }
    .logo a {
        padding: 4px 5px;
        line-height: 67px;
        margin-top: 30px;
    }
    .logo img { width: 20px; }
    .ex-inner-header-left .search-box-contenor {
        width: 30px;
        height: 30px;
    }
    .search-box-contenor a {
        top: 9px;
        padding: 4px 5px;
        line-height: 30px;
    }
    .search-box-contenor a > span {
        width: 20px;
        left: 21%!important;
    }
    .ex-inner-header-right .nav li .ex-nav-link {
        width: 30px;
        height: 30px;
        margin-top: 5px;
        line-height: 30px;
        padding: 0;
    }
    .ex-inner-header-right .nav li .ex-nav-link .nav-h-ico { 
        top: 7.5px;
        left: 25%;
    }

    /** All placeholder */
    .placeholder-art { width: 135px; }
    .placeholder-art .info-simulate { 
        height: 50px;
        padding: .5rem;
    }
    .info-simulate .avatar {
        width: 33px;
        height: 33px;
    }
    .info-simulate .info {
        position: absolute;
        margin-left: .5rem;
    }
    .info .info-place,
    .info .info-name {
        height: 9px;
        width: 75px
    }
    .info .info-place { width: 45px; }
    .exart-info .info .info-name { display: none; }
    .placeholder-exart-self { width: 230px; }
    .placeholder-exart-self .exrow { width: 230px; }
    .placeholder-exart-self .exrow .col-sx-12.col-md-12.col-lg-12.col-xl-4 { border-radius: 0 0 1rem 1rem!important; }
    .placeholder-exart-self .art-content { border-radius: 1rem 1rem 0 0; }
    .placeholder-exart-self .art-comment { border-radius: 0 0 1rem 1rem; }
    .info-artwotk-form .input-group {
        width: 153px;
        margin-top: .1rem;
    }

    /** mansory artwork */
    .ex-home-page { width: 302px!important; }
    .exart { width: 151px; }
    .exart-hover { width: 135px; }

    /** Artwork displayer */
    .exart-self { width: 230px; }
}